#container {
  text-align: left;
  position: relative;
  left: 0;
  right: 0;
  top: 55%;
  margin: 20px;
}

#text{
  font-size: 15px;
  color: #3880ff;
}


#total_amount{
  font-size: 25px;
  font-weight: bold;
  margin:0;
}

#current_amount{
  font-size: 15px;
  color: gray;
}


#container a {
  text-decoration: none;
}