.chartWrapper {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: #f2f5fa;
    padding: 5px;
  }
  
  .chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    width: 100%;
  }
  
  .chartAreaWrapper {
    width: 400px;
  }


#amount{
  font-size: 12px;
  margin: 20px;
  border-radius: 15px;
  border-style: dashed;
  border-width: 1px;
  border-color:#cfcfcf;
  text-align: center;
}