.chartWrapper {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
  .chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    width: 100%;
  }
  
  .chartAreaWrapper {
    width: 400px;
  }
  
  #amount{
      text-align: center;
  }