

#gudok-item ion-label{
    text-align: right;
    margin-top: 0;
}

#icon img{
    border-radius: 10px;
    width: 80%;
    height: 80%;
    margin-top: 0px;
}

#icon ion-thumbnail{
    margin-left: -10px;
}

#gudok-list ion-card{
    margin: 4px 10px 3px 10px;
    padding-top: 5px;
}

#gudok-item{
    background-color:#f5f5f5;;
}

#progressbar{
  width: 95%;
  padding: 4px;
  border-radius: 10px;
  margin-top: 0;
  margin-left: 2%;
  margin-right: 2%;
}

#paydate{
    font-size: 8px;
    text-align: right;
    margin-right: 5%;
    float: right;
}


#alerticon {
    display: inline-block;
    margin: 2% 0 0 2%;
    font-size: 10px;
    color: #f53d3d;
    vertical-align: middle;

}
#alerticon ion-icon {
    font-size: 8px;
}
   