<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      구독 서비스
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">구독 서비스</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <ion-card *ngIf="user">
    <ion-card-content>
      {{ user.email }} - {{ user.first_name }} {{ user.last_name }}
    </ion-card-content>
  </ion-card> -->
 
  <!-- <ion-button expand="block" (click)="logout()" routerLink="" routerDirection="backward">Logout</ion-button> -->

  <app-explore-container name="Tab 2 page"></app-explore-container>



 <div id="mainlist">
  <ion-list id="gudok-list" (click)="initModal()">
    <ion-card>
    <ion-item id="gudok-item" lines="none">
      <ion-thumbnail id="icon" item-start> 
        <img src="assets/images/netflix.png">
      </ion-thumbnail>
      <ion-label>
        <p>Netflix</p>
        <h2>20,000원</h2>
      </ion-label>
    </ion-item>
    <ion-progress-bar id="progressbar" [value]="progress" ></ion-progress-bar>
    <div id="alerticon" lines="none">
      <ion-icon item-start color="danger" name="alert-circle"></ion-icon> 
     결제 3일 남음!
    </div>
    <p id="paydate">결제일: 2021.06.05</p>
  </ion-card>
  </ion-list>

  <ion-list id="gudok-list" (click)="initModal()">
    <ion-card>
    <ion-item id="gudok-item" lines="none">
      <ion-thumbnail id="icon" item-start> 
        <img src="assets/images/youtube.png">
      </ion-thumbnail>
      <ion-label>
        <p>Youtube</p>
        <h2>3,000원</h2>
      </ion-label>
    </ion-item>
    <ion-progress-bar id="progressbar" [value]="progress" ></ion-progress-bar>
    <div id="alerticon" lines="none">
      <ion-icon item-start color="danger" name="alert-circle"></ion-icon> 
     결제 3일 남음!
    </div>
    <p id="paydate">결제일: 2021.06.05</p>
  </ion-card>
  </ion-list>


  <ion-list id="gudok-list" (click)="initModal()">
    <ion-card>
    <ion-item id="gudok-item" lines="none">
      <ion-thumbnail id="icon" item-start> 
        <img src="assets/images/netflix.png">
      </ion-thumbnail>
      <ion-label>
        <p>Netflix</p>
        <h2>20,000원</h2>
      </ion-label>
    </ion-item>
    <ion-progress-bar id="progressbar" [value]="progress" ></ion-progress-bar>
    <div id="alerticon" lines="none">
      <ion-icon item-start color="danger" name="alert-circle"></ion-icon> 
     결제 3일 남음!
    </div>
    <p id="paydate">결제일: 2021.06.05</p>
  </ion-card>
  </ion-list>


  <ion-list id="gudok-list" (click)="initModal()">
    <ion-card>
    <ion-item id="gudok-item" lines="none">
      <ion-thumbnail id="icon" item-start> 
        <img src="assets/images/netflix.png">
      </ion-thumbnail>
      <ion-label>
        <p>Netflix</p>
        <h2>20,000원</h2>
      </ion-label>
    </ion-item>
    <ion-progress-bar id="progressbar" [value]="progress" ></ion-progress-bar>
    <div id="alerticon" lines="none">
      <ion-icon item-start color="danger" name="alert-circle"></ion-icon> 
     결제 3일 남음!
    </div>
    <p id="paydate">결제일: 2021.06.05</p>
  </ion-card>
  </ion-list>

</div>



  

  <!-- <p *ngIf="dataReturned">{{dataReturned}}</p> -->


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
