#app-info{
    margin: 20px;
    text-align: center;
}

#comment{
    text-align: center;
    font-size: small;
}

#info-grid{
    text-align: center;
}

#info-grid ion-row{
    margin-bottom: 10px;
}