#app-info{
    margin: 20px;
    text-align: center;
}

#comment{
    text-align: center;
    font-size: small;
}

#info-grid{
    text-align: center;
}

#info-grid ion-row{
    margin-bottom: 10px;
}
#back ion-title{
    float: left;
}
#back ion-icon{
    float: left;
    margin-left: 10px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}