#app-info{
    margin: 20px;
    text-align: center;
}

#comment{
    text-align: center;
    font-size: small;
}

#info-grid{
    padding: 20px;
}

#info-grid ion-row{
    margin-bottom: 10px;
}
#back ion-title{
    float: left;
}
#back ion-icon{
    float: left;
    margin-left: 10px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}

#app-info img{
    border-radius: 10px;
    width: 70px !important;
    height: 70px !important;
}

#col1{
    text-align: left;
}
#col2{
    text-align: right;
    color: gray;
}