<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>회원가입</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item >
      <ion-label position="floating">이름</ion-label>
      <ion-input type="text" [(ngModel)]="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">전화번호</ion-label>
      <ion-input type="text" [(ngModel)]="phoneNumber" [textMask]="{mask: masks.phoneNumber}" required ></ion-input>
    </ion-item>

    <ion-item >
      <ion-label position="floating">이메일</ion-label>
      <ion-input type="text" [(ngModel)]='email' required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">비밀번호</ion-label>
      <ion-input type="password" [(ngModel)]='password' required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="save()" color="primary" expand="block" routerLink="" routerDirection="forward">가입 완료</ion-button>
      </ion-col>
    </ion-row>

  </ion-card>


</ion-content>
