<ion-header>
  <ion-toolbar>
    <ion-title>로그인</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row>
    <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
      offset-xl="4">
 
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">WE구독</ion-card-title>
        </ion-card-header>
 
        <ion-card-content>
 
          <ion-item lines="none">
            <ion-label position="stacked">이메일</ion-label>
            <ion-input type="email" placeholder="이메일을 입력하세요." name="email" [(ngModel)]="credentials.email"></ion-input>
          </ion-item>
 
          <ion-item lines="none">
            <ion-label position="stacked">비밀번호</ion-label>
            <ion-input type="password" placeholder="비밀번호를 입력하세요." name="password" [(ngModel)]="credentials.pw">
            </ion-input>
          </ion-item>

          <ion-row>
            <ion-col>
          <ion-button (click)="login()" expand="block" routerLink="/members" routerDirection="backward" >로그인</ion-button>
          <ion-button expand="block" color="secondary" routerLink="/register" routerDirection="forward">회원가입
          </ion-button>
         
        </ion-col>
      </ion-row>
 
        </ion-card-content>
      </ion-card>
 
    </ion-col>
  </ion-row>
 

</ion-content>
